.education-container {
  width: 100%;
  background-image: linear-gradient(rgba(13, 218, 23, 0.1),rgba(13, 218, 23, 0.1));
  overflow: hidden;
  padding-bottom: 100px;
}

.education-card-container{
  display: flex;
  flex-direction: column;
  margin-top: 4vmax;
  margin-left: 8vmax;
  margin-right: 8vmax;
}


@media screen and (max-width: 750px) {
  .education-card-container{
    flex-direction: column;
  }
}


@media screen and (max-width: 490px) {
  .education-card-container{
    margin-left: 5vmax;
    margin-right: 5vmax;
  }
}