.experience-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(13, 218, 23, 0.1), rgba(0,0,0,1));
}


.experience-text-container {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-content: center;
  margin-left: 5vmax;
  margin-right: 5vmax;
}

@media screen and (max-width: 750px) {
  .experience-text-container{
    flex-direction: column;
  }
}


@media screen and (max-width: 490px) {
  .experience-text-container{
    margin-left: 2vmax;
    margin-right: 2vmax;
  }

}