.experience__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(10,10,10,0.73), rgba(0,0,0,1));
  align-self: center;
}


.experience__text__container {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-content: center;
  margin-left: 5vmax;
  margin-right: 5vmax;
}

@media screen and (max-width: 750px) {
  .experience__text__container{
    flex-direction: column;
  }
}


@media screen and (max-width: 490px) {
  .experience__text__container{
    margin-left: 2vmax;
    margin-right: 2vmax;
  }

}