.tech-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#000000, rgba(13, 218, 23, 0.1));
}

.tech-card-group-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 2rem;
  
}
.section-header {
  color: white;
  align-self: flex-start;
  margin-left: 8vmax;
  margin-top: 6rem;
  font-size: 3vmax;

}


@media screen and (max-width: 490px) {
  .section-header {
    margin-left: 5vmax;
  }
  .tech-container{
    padding-bottom: 100px;
  }

}