.projects-container {
  display: flex;  
  flex-direction: column;
  width: 100%;
  background-color: rgba(13, 218, 23, 0.1);
}

.projects-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
  align-content: center;

}


@media screen and (max-width: 1050px) {

}


@media screen and (max-width: 750px) {
  .projects-card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow: auto;
  }
}


@media screen and (max-width: 490px) {

}