.containerProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 218, 23, 0.1);
  overflow: hidden;
}

.projects__card__container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-left: 5vmax;
  margin-right: 5vmax;
}

.one__project__container {
  display: flex;
  flex-direction: row;
  margin-top: 3vmax;
}

.swiperContainer {
  display: flex;
  width: 85%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 5px;
  background-color: rgba(255,255,255,0.05);
  color: white;
  box-shadow: 0 0 4px white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;

}
.projectTitle {
  font-size: x-large;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1050px) {

  
  .one__project__container{
    flex-direction: column;
  }
  .image__container{
    flex-direction: row;
    align-self: center;
  }

}


@media screen and (max-width: 750px) {
  .CardProjects {
    border-radius: 20px;
  }
  .one__project__container{
    flex-direction: column;
  }
  .projectTitle {
    font-size: large;
  }
}


@media screen and (max-width: 490px) {
  .CardProjects {
    border-radius: 10px;

  }
}