.Card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  justify-content: flex-start;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: 0.5px solid;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  padding: 20px;
  transition: ease-in-out 50ms;
  cursor: pointer;
}

.Card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  scale: 1.02;
}


.header__card {
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text__card {
  color: white;
  font-weight: 200;
  font-size: 14px;
}


.RJ {
  background-image: linear-gradient(#755504,#9D922F);
  mask-image: url('../../assets/RJ.svg');
  width: 128px;
  height: 130px;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  mask-size: contain;
}

.RN{
  background-image: linear-gradient(#755504,#9D922F);
  mask-image: url('../../assets/RN.svg');
  width: 128px;
  height: 120px;
  margin-top: 10px;
  object-fit:contain;
  align-self: center;
  justify-self: center;
  mask-size: contain;
}

.PY{
  background-image: linear-gradient(#755504,#9D922F);
  mask-image: url('../../assets/PY.svg');
  width: 135px;
  height: 128px;
  object-fit:contain;
  align-self: center;
  justify-self: center;
  mask-size: contain;
}

.PB{
  background-image: linear-gradient(#755504,#9D922F);
  mask-image: url('../../assets/PB.svg');
  width: 128px;
  height: 130px;
  object-fit:contain;
  align-self: center;
  justify-self: center;
}


@media screen and (max-width: 750px) {
  
.text__card {
  font-size: 14px;
}
}


@media screen and (max-width: 490px) {
  .CardProjects {
    border-radius: 10px;

  }

  .text__card {
    font-size: 14px;
  }
  
}