.tech-card-container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 220px;
  justify-content: flex-start;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: 0.5px solid;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  padding: 20px;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.tech-card-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  scale: 1.02;
}

.tech-card-container.activated {
  scale: 1.2;
  height: 300px;
  margin-bottom: 10px;
}



.tech-vector-image {
  width: 128px;
  object-fit:contain;
  align-self: center;
  justify-self: center;
  transition: all ease-in-out 300ms;

}


.tech-vector-image.activated{
  width: 58px;
}

.card-header {
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.card-header.activated {
  font-weight: 400;
  font-size: 12px;
}

.frameworks-container {
  height: 0px;
  width: 100%;
}

.frameworks-container.activated {
  height: 100%;
}

.frameworks-content {
  display: flex;
  flex-direction: column;
  height: 0px;
  width: 100%;
  transition: all ease-in-out 500ms;
  color: rgba(0, 0,0,0);
  overflow: hidden;
}

.frameworks-content.activated {
  color: rgba(255, 255, 255,1);
  height: 100%;
  width: 100%;

}

.skill-list {
  padding-top: 10px;
  font-size: small;
}

@media screen and (max-width: 750px) {

  .tech-card-container.activated {
    scale: 1.1;
  }
  
}


@media screen and (max-width: 490px) {
  .card-container {
    border-radius: 10px;

  }
  
}