.navbar-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 60px;
  position: fixed;
  z-index: 20;
  align-self: center;
  transition: ease all 150ms;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
  margin-top: 10px;
}

.navbar-container.active {
  background-color: black;
}

.FG {
  color: white;
  background-image: linear-gradient(80deg, #CDCDCD, #585858);
  background-size: 100%;
  background-repeat: repeat;
  font-size: 3vmax;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
  align-self: center;
  text-align: center;
  animation: scale-up-center 1s;
  animation-iteration-count: 1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;

  
}
.FG:hover {
  text-shadow: inset 0 0 10px white;
}



.ContentButton {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1vmax;
}


.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.15vmax;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.ListButtons {
  padding:5px;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  color: white;
  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  border-radius: 2px;

}
.ListButtons:hover {
  box-shadow: inset 200px 0 0 2px rgba(255, 255, 255, 0.15);
  color: white;
  text-shadow: 0 0 3px white;
  
}
.ListButtons.sm {
  transition: none;
  box-shadow: none;
}

.menu-icon {
  display: none;
}

.gpt3__navbar-menu-container-links {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
}

.menu-container{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.gpt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer
}

.gpt3__navbar-menu_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-center;
  align-items: flex-center;
  align-content: center;
  border-radius: 10px;
  border: 0.5px solid;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  box-shadow: -1px 1px 1px #3A81BF, 1px -1px 1px #41305A, 1px 1px 1px green;
  cursor: pointer;
  backdrop-filter: blur(5px);

}

.gpt3__navbar-menu_container-links {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbar-container {
    width: 80%;
  }

  .links {
    display: none
  }
  .menu-icon {
    display: flex;
    align-self: center;
    margin-right: 10%;
    cursor: pointer;
  }
  
  .gpt3__navbar-menu_container-links-sign {
    display: block
  }
  
  .ListButtons {
    font-size: 13px;
  }
  
}


@media screen and (max-width: 490px) {
  .menu-icon {
    display: flex;
    align-self: center;
    margin-right: 10%;
    cursor: pointer;
  }
  .links {
    display: none
  }
  .gpt3__navbar-menu_container-links-sign {
    display: block
  }
  
}