.experience__textblock__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6vmax;
  margin-left: 3vmax;
  margin-right: 3vmax;
}

.experience_name {
  font-weight: 400;
  font-size: 1.8vmax;
  color: white;
}

.experience_role {
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
  color: white;
}

.experience_duration {
  font-weight: 300;
  font-size: 16px;
  margin-top: 1rem;
  color: white;
  white-space: pre-line
}

.experience_description {
  font-weight: 200;
  font-size: 16px;
  margin-top: 1rem;
  align-self: center;
  color: white;
}

@media screen and (max-width: 850px) {
  .experience_role {
    font-weight: 400;
    font-size: 12px;
    }
  .experience_description {
    font-size: 12px;

  }
    
  .experience_duration {
    font-size: 12px;
  }
}


@media screen and (max-width: 490px) {

  .experience_name {
    font-size: 14px;
  }
}