.single-project-card-container {
  display: flex;
  width: 20%;
  height: 250px;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  transition: ease-in-out 300ms;

}

.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
  transition: ease-in-out 300ms;
  cursor: pointer;
  color: white;

}

.card-info:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}


.card-info.activated {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  scale: 1.4;

}

.title-arrow-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;

}

.project-title {
  height: 100%;
  width: fit-content;
  font-size: medium;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 300ms;
  margin-right: 10px;
}


.project-title.activated {
  margin-right: 1rem;

}

.arrow {
  transition: ease-in-out 300ms;
}

.arrow.activated {
  transform: rotateZ(180deg);
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 300ms;
  width: 100%;
  height: 0%;
}

.project-description-container.activated {
  height: 100%;
  
}

.project-description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  color: rgba(255, 255, 255, 0);
  transition: ease-in-out 300ms;
  font-size: 12px;
  text-align: left;
}

.project-description.activated {
  color: rgba(255, 255, 255, 1);
}

.project-status-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20%;
  margin-top: 10px;
  transition: ease-in-out 300ms;
  color: rgba(255, 255, 255, 0)

}

.project-status-container.activated {
  color: rgba(255, 255, 255, 1)
}


.project-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  color: rgba(201, 195, 18, 0);
  transition: all ease-in-out 300ms;
  font-size: x-small;
  text-align: left;

}

.project-status.activated.concluded {
  color: green
}

.project-status.activated.inprogress {
  color: yellow
}


.progress-icon {
  color: rgba(201, 195, 18, 0);
  animation: spin linear infinite 1s;
  transition: all ease-in-out 300ms;
  width: 15px;
  height: 15px;
}

.progress-icon.activated {
  color: rgba(201, 195, 18, 1);
}

.concluded-icon {
  color: rgba(201, 195, 18, 0);
  width: 15px;
  height: 15px;
  transition: all ease-in-out 300ms;
}

.concluded-icon.activated {
  color: rgb(10, 165, 31);
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1050px) {

  .single-project-card-container {
    width: 150px;
    height: 150px;
  }

  .card-info.activated {
    height: 180px;
    scale: 1.5;
  }

  .project-title {
    font-size: small;
    margin-left: 0px;

  }

  .project-description {
    font-size: 1.1vmin;
  }

  .project-status {
    font-size: 1.1vmin;
  }
}

@media screen and (max-width: 750px) {


  .single-project-card-container {
    width: 80%;
    height: 300px;
  }

  .card-info {
    scale: 1;
    height: 280px;

  }

  .card-info.activated {
    scale: 1;
    height: 380px;

  }

  .project-title {
    font-size: large;
  }


  .project-description {
    font-size: medium;
  }

  .project-status {
    font-size: medium;
  }


  .single-project-card-container.activated {
    height: 400px;
  }

}


@media screen and (max-width: 490px) {}