.projects-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-self: center;
  align-content: center;
  border-radius: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  width: 150px;
  height: 100px;
  align-self: center;
  justify-self: center;
  rotate: 180deg;
  background-color: black;
}

.Loading {
  color: yellow;
  animation: spin 1s infinite linear;
}
.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}
.status.concluded {
  color: green;
}
.status.development {
  color: yellow;
}

.project-title {
  font-size: x-large;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Concluded {
  color: green
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.description {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 20px;
}


.technologies {
  width: min-content;
  white-space:nowrap ;
  font-size: small;
  padding: 2px;
  margin-top: 5px; 
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  border-width: 1px;
  background-color: grey;
  
}

.technologies-title {
  margin-bottom: 5px;
  font-size: medium;
}

.illustration {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  padding-bottom: 50px;
  justify-content: flex-end;
  align-items: flex-end;

}

.image-illustration {
  padding-top: 10px;
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header__project_card {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  align-self: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.text__project__card {
  font-weight: 200;
  font-size: 16px;
  margin-top: 3vmax;
  align-self: center;
  color: white;
  width: 100%;
}

.text__duration{
  color: white;
  font-size: 16px;
  margin-top: 2vmax;
  width: 100%;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 750px) {
  
  .text__project__card {
    font-size: 14px;
  
  }
  .text__duration{
    font-size: 14px;
  }

  .tagsContainer {
    grid-template: 
    "a"
    "b"
    "c";
  }
  
  .illustration {
    width: 70%;
  }

  .description {
    display: flex;
    flex-direction: row;
    width: 30%;
  }


  .project-title {
    font-size: large;
  }
}


@media screen and (max-width: 490px) {

  
}