.education__image {
  border-radius: 20px;
  box-shadow: 15px 15px 15px black;
  width: 30vmax;
  align-self: center;

}

.one__education__card__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  margin-right: 1rem;

}

.education__name {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-top: 4vmax;
  padding-top: 10px;

}

.education__course {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}

.education__text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding-top: 15px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  
  .education__image {
    align-self: center;
    margin-top: 4vmax;
  }
  

  .education__name {
    font-size: 2vmax;
  }
  .education__text {
    color: white;
    font-size: 2vmax;
    
  }
  .education__course {
    font-size: 2vmax;
  }
}


@media screen and (max-width: 490px) {

  .education__image {
    width: 40vmax;
  }
  
  .education__text {
    font-size: 14px;
  }
  
}