.education-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  padding-bottom: 100px;

}

.education-name-course {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.education-name {
  font-size: 20px;
  font-weight: 700;
  color: white;

}

.education-course {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}

.education-location-icon {
  padding-right: 5px;
}
.education-duration-icon {
  padding-right: 5px;
  margin-left: 20px;
}

.education-duration {
  color: white;
  padding-left: 5px;
}

.education-location {
  color: white;

}

.education-accomplishment-container {
  display: flex;
  height:  100%;
  flex-direction: column;
}
.education-accomplishment-header {
  color: white;
  margin-top: 30px;
}

.education-accomplishments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 50px;
}

.education-accomplishment-layout {
  display: flex;
  width: 100%;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  border-color: white;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 10px;
  
}


.education-accomplishment-layout.clickable {

  border-color: white;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  box-shadow: 0 0 10px white;
  cursor: pointer;
  

}


.education-accomplishment-layout.clickable:hover{
  scale: 1.02
  
}

.education-accomplishment-item {
  display: flex;
  color: white;
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {

  .education-accomplishment-layout {
    height: 100px;
  }

}

@media screen and (max-width: 750px) {

  
  
  .education-location-icon {
    width: 0%;
    height: 0%;
  }
  .education-duration-icon {
    width: 0%;
    height: 0%;
  }
  
  .education-name-course {
    flex-direction: column;
  }

  .education-name {
    font-size: 2vmax;
  }

  .education-accomplishments {
    flex-direction: column;
  }

  .education-accomplishment-item {
    color: white;
    font-size: 2vmax;
  }

  .education-accomplishment-layout {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .education-course {
    font-size: 2vmax;
  }


  .education-accomplishment-layout{
    width: 100%;
    height: 50px;
  }
}


@media screen and (max-width: 490px) {

  .education-image {
    width: 40vmax;
  }
  
  .education-accomplishment-item {
    font-size: 12px;
    font-weight: 200;
  }

  
}